body{
  background-image: url("/public/image/img-background.jpg");
}
.card{
  border: none;
  padding: 5% 15%;
  background: none;
  margin:0 10% ;
}
.card .front{
  width: 100px;
  height: 100px;
  
  
}
.back{
  width: 100px;
  height: 100px;
  position: absolute;
 
}
